
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif
}


p {
color: black;
}

body {
    background-color: transparent;
    border: 20px;
    border-color: cornflowerblue;
    padding-block: 5px;
    margin: auto;
    
}

li {
    border: 2px solid blue;
    
    background-color: rgb(172, 213, 213);
    border-radius: 8px;
    padding: 10px;
}
li img {
    width: auto;
    height: 250px;
    max-width: 450px;
}
ul {
    list-style: none;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1 {
    text-align: center;
    
}
h2 {
    color: rgba(red, green, blue, alpha);
    margin-left: 10px;
}
.form {
    /* display: grid; */
    border: 2px solid blue;
    width: 100%;
    padding: 8px;
}
.form label {
    display: block;
    margin-right: 4px;
    margin-bottom: 6px;

}
form button[type="submit"]
button{
    background: wheat;
    border-radius: 4px;
    color: goldenrod;
    cursor: pointer;
    margin: 10;
    padding: 10px;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr;
    
}
    


@media(min-width: 600px) {
     li {background-color: wheat;
}
}
